
footer {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
   color: rgb(245, 240, 240);
   background-image: linear-gradient(to top, rgb(29, 27, 27), rgb(13, 56, 13));
    text-align: left;
    border: solid 3px green;
    
    height: 15vh;
}
.lista2{
display: flex;
}
.lista2 li{
    padding: 20%;
}
.lista2 i{
    font-size: 2rem;
    
}
 
.lista2 li:hover {
    background-color: rgb(8, 134, 56);
    border-radius: 20%;
    
}
