
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
   
   color: rgb(245, 240, 240);
   background-image: linear-gradient(to top, rgb(29, 27, 27), rgb(13, 56, 13));
    text-align: left;
    
    
    height: 15vh;
}
.lista2{
  display: flex;
  list-style: none;

}
.lista2 li{
    padding: 20%;
}
.lista2 i{
    font-size: 2rem;
    
}
 
.lista2 li:hover {
    
    background-color: rgb(8, 134, 56);
    border-radius: 20%;
    
}
