*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainAcademia{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    
}

.imagenAcademia{
    position: absolute;
    height: 40%;
    width: 27%;
    margin-left: 5%;
    margin-top: 8%;
    
 
}
.boots{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5%;
}


.mainAcademia {
    i{
    color: rgb(239, 245, 239);
    background-color: green;
    font-size: 3em;
    border-radius: 15%;
}
    p{
    color: rgb(252, 247, 247);
    font-style: italic;
    font-size: 1.5em;
    line-height: 1.5;
    width: 700px;
    padding: 5%;
    display: inline-block;
    position: relative;
    margin-top: 5%;
    margin-left: 35%;}
    h1{
    left: 45%;
}
 #servicios img{
     width: 25%;
     margin-left: 8%;
 }
 .flechita{
     margin-left: 50%;
     width: 5%;
 }
 #servicios p{
     margin-left: 0;
     color: rgb(230, 197, 12);
 }

}


